{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Youtube Video Downloader</title>
  <link rel="shortcut icon" type="image/jpg" href="{% static 'blog/logo.png' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'blog/styles.css'%}">
  

</head>
<body>
  <div class="container">
    <div class="img-side">
      <img src="{% static 'blog/logo.png' %}">
    </div>

        {% block content %}{% endblock %}
            
    </div>
</body>
</html>